PORT="8080" # Bot API port

ORION_API_TOKEN=""
GEMINI_KEY="" # Chatbot

DISCORD_TOKEN=""
SUPPORT_GUILD_ID=""
STATUS_CHANNEL_ID="" # Where the auto-updated status is sent
CHATBOT_CHANNEL_ID=""
LOGS_WEBHOOK_ID=""
LOGS_WEBHOOK_TOKEN=""
